@import '@/styles/vars';;

.Figure--notFound img{
    width: 200px;
}
.Figure--email-image{
    width: 132px;
    height: 132px;
    background-color: var(--text-input-field);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.Figure--Orderitem,
.Figure--ProductInfo,
.Figure--ProductItem,
.Figure--ProductItem-info{
    margin: 0;
}
.Figure--Orderitem img{
    width: 60px;
	height: 60px;
	border-radius: 20px;
	object-fit: cover;
}
.Figure--ProductInfo img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.Figure--ProductItem img{
    width: 240px;
	height: 240px;
	border-radius: 20px;
	object-fit: cover;
}
.Figure--ProductItem-info img{
    width: 35px;
	height: 35px;
}

@media (max-width: 640px) {
    .Figure--ProductItem img{
        width: 140px;
        height: 140px;
    }
}