@use '@styles/vars';;

.Span{
    font-size: var(--md);
    color: var(--very-light-pink);
    margin: 8px 0 32px 0;
}
.Span--email{
    font-size: var(--sm);
}
.Span--order-one{
    color: var(--black);
	font-weight: bold;
    margin: 0;
}
.Span--order-two{
    font-size: var(--sm);
    margin: 0;
}