@use './vars';;

.Input{
    height: 30px;
    padding: 6px;
    font-size: var(--md);
    color: var(--very-light-pink);
	background-color: var(--text-input-field);
    border: none;
    border-radius: 4px;
	margin-top: 8px;
	margin-bottom: 18px
}