@import '@/styles/vars';

.Title {
	font-size: var(--lg);
	text-align: center;
	margin-top: 14px;
	margin-bottom: 12px;
}
.Title__create {
	text-align: start;
	margin-bottom: 32px;
}
.Title--notFound {
	font-size: 2.2rem;
}
