@import '@/styles/vars';

.MobileMenu {
	padding: 24px;
}
.MobileMenu ul {
	padding: 0;
	list-style: none;
}
.MobileMenu ul:nth-child(2) {
	border-bottom: 1px solid var(--very-light-pink);
}
.MobileMenu ul li {
	margin-bottom: 24px;
}

@media (max-width: 640px) {
	.MobileMenu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 96vh;
	}
}
