@import '@/styles/vars';

.MyOrder {
	width: 360px;
	padding: 24px;
	box-sizing: border-box;
	right: 0;
	background-color: var(--white);
	top: 60px;
	border-radius: 6px;
	border: 1px solid var(--very-light-pink);
	max-height: 90vh;
	animation: swipeLeft 0.4s;
	display: flex;
	flex-direction: column;
}

@keyframes swipeLeft {
	100% {
		transform: translateX(-260px);
	}
}
.title-container {
	display: flex;
}
.title-container img {
	transform: rotate(180deg);
	margin-right: 14px;
	cursor: pointer;
}
.my-order-content {
	max-height: 80%;
	overflow: auto;
}
.my-order-content::-webkit-scrollbar {
	display: none;
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-top: 12px;
	margin-bottom: 12px;
	border-radius: 8px;
	padding: 0 24px;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}
.order-total .button-order {
	margin-bottom: 0;
}
@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}
