.ProductDetail {
	width: 360px;
	padding-bottom: 24px;
	position: absolute;
	right: 0;
}
.ProductDetail__close {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 20px;
	left: 20px;
	position: absolute;
	background-color: var(--white);
	width: 16px;
	height: 16px;
	padding: 8px;
	border-radius: 50%;
	border: 1px solid var(--very-light-pink);
	cursor: pointer;
}

@media (max-width: 640px) {
	.ProductDetail {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}
