@import '@/styles/vars';

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
	background-color: var(--white);
	width: calc(100% - 48px);
	position: fixed;
	top: 0;
}
.Header__nav--left {
	display: flex;
}

.Header__nav--left ul,
.Header__nav--right ul {
	list-style: none;
	padding: 0;
	margin: 0 12px;
	display: flex;
	align-items: center;
	height: 60px;
}
.Header__nav--left ul li a {
	text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
}
.Header__nav--left a:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
	cursor: pointer;
}
.Header_nav--right-arrow {
	margin-left: 10px;
	margin-right: 10px;
	transform: rotate(90deg);
	cursor: pointer;
}

.Header_nav--right-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
}

.Header_nav--right-shoppingCar {
	position: relative;
	cursor: pointer;
}

.Header_nav--right-shoppingCar div {
	width: 19px;
	height: 19px;
	background-color: var(--hospital-green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -6px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Header__menu--orders {
	display: flex;
	position: absolute;
	top: 60px;
	right: 0;
}
.Header-menu {
	margin-right: 10px;
}
@media (max-width: 800px) {
	.Header__nav--left ul {
		display: none;
	}
	.Header_nav--right-email,
	.Header_nav--right-arrow {
		display: none;
	}
}
